


#textInput{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #D6D6D6;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 14px 36px 14px 16px;
    box-sizing: border-box;
    font-size: 20px;
}

#svgSearch{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 12px;
}
